<div id="<%= dom_id llm_query %>">
  <p><strong>Problem statement</strong> <span class="badge text-bg-primary"><%= llm_query.query_type %></span></p>
  <p><%= llm_query.problem_statement %></p>
</div>
