<div class="row mt-5">
  <div class="col-10">
    <h1>Autograder Generator</h1>
  </div>
  <div class="col-2 text-end">
    <%= link_to "Back", llm_queries_path %>
  </div>
  <div class="col-12 mt-4">
    <form data-controller="llm_queries" data-action="llm_queries#submit">
      <div class="row gy-3">
        <div class="col-12 col-md-6">
          <h3>Your Problem Statement</h3>
          <textarea required name="problem_statement" class="form-control" rows="16" placeholder="Add your problem statement here.."></textarea>
        </div>
        <div class="col-12 col-md-6">
          <h3>The Reference Solution</h3>
          <textarea required name="reference_solution" class="form-control" rows="16" placeholder="Add the reference solution here.."></textarea>
        </div>
      </div>
      <div class="row mt-4 gy-3">
        <div class="col-12 col-md-6">
          <h4>What are you looking to generate?</h4>
          <%= select_tag(:test_type, options_for_select([["Test Case Inputs", :matching_outputs], ["Unit Tests", :unit_tests]], :matching_outputs ), { class: "form-control form-control-lg", "data-controller" => "LlmChatQueries", "data-action" => "LlmChatQueries#switchOutputType" }) %>
        </div>
        <div class="col-12 col-md-6">
          <h4>Reference Solution Programming Language</h4>
          <%= select_tag(:programming_language, options_for_select([["C", :c], ["Python 3", :python3]], :python3 ), { class: "form-control form-control-lg" }) %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="d-grid">
            <button id="submit" type="submit" name="submitButton" class="btn btn-primary btn-lg">Generate</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="response-div" class="row mt-5 d-none">
  <div class="col-12">
    <h3>Response</h3>
  </div>
  <div class="col-12">
    <h4 class="mt-4">Inputs <span id="response-badge" class="badge bg-success"></span></h4>
    <textarea disabled id="response-area" class="form-control" rows="16"></textarea>
  </div>
</div>